*{
  font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    gap: 60px;
}

.topbar{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    position: fixed;
    
    
}

.list1{
  list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.list2{
    list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  
  li{
    display: inline;
  }
  
  a{
    text-decoration: none;
    color: grey;
    
  }

  a:hover{
    color: black;
  }

  .title{
    font-size: 28pt;
    padding-left: 12px;
  }

  .middlebar{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
    padding-top: 30px;
    justify-content: left;
    padding-left: 350px;

  }

  .icons{
    height: 25px;
    width: 25px;
  }

  #selfPortrait{
    max-width: 35%;
    padding-top: 5%;
    padding-right: 5%;
  }

  h1{
    text-align: left;
  }

  .aboutText{
    padding-right: 5%;
    padding-top: 5%;
  }


 