*{
  font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    gap: 60px;
}

.topbar{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    
}

.list1{
  list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.list2{
    list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  
  li{
    display: inline;
  }
  
  a{
    text-decoration: none;
    color: grey;
  }

  .title{
    font-size: 28pt;
    padding-left: 12px;
  }

  .middlebar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 30px;
  }
  
  .bannerimg{
    max-height: 350px;
    
  }





 