*{
  font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    gap: 60px;
}

.topbar{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    position: fixed;
    
    
}

.list1{
  list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.list2{
    list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  
  li{
    display: inline;
  }
  
  a{
    text-decoration: none;
    color: grey;
    
  }

  a:hover{
    color: black;
  }

  .title{
    font-size: 28pt;
    padding-left: 12px;
  }

  .middlebar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
    justify-content: left;
    padding-left: 20%;

  }
  
  .bannerimg{
    max-height: 500px;
  }

  .bannerimg:hover{
    opacity: 0.5;
  }

  .horizontalimg{
    max-height: 500px;
  }

  .horizontalimg:hover{
    opacity: 0.5;
  }

  .icons{
    height: 25px;
    width: 25px;
  }

  .altText{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photo1{
    position: relative;
  }

  form {
    overflow: hidden;
    }
 
  label {
    float: left;
    width: 200px;
    padding-right: 24px;
  }
 
  input {
    float: left;
    width: calc(100% - 200px);
  }
 
  button {
    float: right;
    width: 20%;
    bottom: 6vh;
    margin-top: 10px;
  } 

  textarea{
    float: left;
    width: calc(100% - 200px);
  }
 